body, html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: Roboto, Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans;
}

.Navbar_navbar {
  height: 72px;
  background-color: #000;
  position: sticky;
  top: 0;
  z-index: 99;
}

.Navbar_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  max-width: 1280px;
  min-width: 944px;
  width: 90%;
  margin: 0 auto;
}

.Navbar_navbar .Navbar_left {
  color: #f5f5f9;
  display: flex;
  align-items: center;
}

.Navbar_navbar .Navbar_right {
  color: #f5f5f9;
  display: flex;
  align-items: center;
  position: relative;
}

.Navbar_navbar .Navbar_left .Navbar_logo {
  display: inline-flex;
  align-items: center;
  height: 72px;
}

a {
  color: inherit;
  text-decoration: none;
}

.PoizonImage {
  width: 98px;
  height: 32px;
  position: relative;
}

.PoizonImage .PoizonImage_img {
  width: 100%;
  height: 100%;
  display: block;
}

.Navbar_navbar .Navbar_left .Navbar_navMain {
  margin-left: 240px;
  display: flex;
  align-items: center;
}

.Navbar_navbar .Navbar_left .Navbar_navMain .Navbar_navItem {
  margin-left: 28px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  height: 72px;
}

.input-search {
  background-color: transparent;
  color: #fff;
  padding: 0 12px;
  text-overflow: ellipsis;
  font-size: 16px;
  caret-color: #01c2c3;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 10px;
  width: 24px;
  height: 24px;
}

.input-search {
  padding-left: 40px; 
  height: 40px; 
  border: .5px solid #f1f1f5;
  border-radius: 4px; 
  width: 100%; 
}

.icon {
  width: 24px;
  height: 24px;
  margin: 15px;
  cursor: pointer;
}

.Navbar_navItem {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
  font-weight: bold;
}

.Navbar_navItem:hover {
  color: #01c2c3;
}

.Footer_footer {
  background-color: #000;
}

.Footer_footer .Footer_content {
  color: #ececf2;
  padding: 72px 0;
  width: 75rem;
  min-width: 944px;
  margin: 0 auto;
}

.Footer_footer .Footer_links {
  display: flex;
}

.Footer_footer .Footer_line {
  height: .5px;
  background-color: hsla(0, 0%, 100%, .3);
  margin: 48px 0;
}

.Footer_footer .Footer_sub {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  letter-spacing: .5px;
  font-size: 14px;
}

.Footer_footer .Footer_sub .Footer_subRight {
  text-align: right;
  margin-top: 16px;
}

.Footer_footer .Footer_sub .Footer_subRight .Footer_ltd {
  font-weight: 600;
  margin-bottom: 16px;
}

.Footer_footer .Footer_subText {
  font-weight: 300;
  margin-top: 16px;
}

.Footer_footer .Footer_subText+.Footer_subText {
  margin-top: 12px;
}

.Footer_subText1 {
  margin-top: 72px;
  font-weight: 300;
}

.Footer_subPayMent {
  display: flex;
}

.Footer_subPayMent .Footer_subPayMentLeft {
  margin-right: 67.6px;
}

.Footer_footer .Footer_payTitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 18.75px;
  letter-spacing: .5px;
  color: #fff;
}

.Footer_footer .Footer_payList {
  padding-top: 12px;
  display: flex;
  align-items: center;
}

.Footer_footer .Footer_payList .Footer_payIcon {
  border-radius: 1px;
  overflow: hidden;
}

.Footer_footer .Footer_payList .Footer_payIcon+.Footer_payIcon {
  margin-left: 5.45px;
}

.PoizonImage_imgWrap .PoizonImage_img {
  width: 100%;
  height: 100%;
  display: block;
}

.Footer_footer .Footer_links .Footer_linkBlock {
  min-width: 200px;
  margin-right: 8rem;
}

.Footer_footer .Footer_links .Footer_lineBlockJoin {
  flex: 1 1;
  max-width: 560px;
}

.Footer_footer .Footer_links .Footer_linkTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 23.44px;
}

.Footer_footer .Footer_links .Footer_linkList {
  font-weight: 300;
  letter-spacing: .5px;
  margin-top: 16px;
  font-size: 14px;
}

.Footer_footer .Footer_links .Footer_linkList .Footer_linkItem:first-child {
  margin-top: 0;
}

.Footer_footer .Footer_links .Footer_linkList .Footer_linkItem {
  margin-top: 20px;
}

.Footer_titleMargin {
  margin-top: 54px;
}

.Footer_footer .Footer_links .Footer_followList {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.Footer_footer .Footer_links .Footer_followList .Footer_followItem+.Footer_followItem {
  margin-left: 30px;
}

.DownloadApp_linkTitle {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #ececf2;
}

.DownloadApp_couponText {
  margin-top: -8px;
  margin-bottom: 20px;
  display: inline-block;
  border-radius: 7px;
  padding: 10.25px 13.67px;
  background: rgba(0, 219, 219, .2);
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -.001em;
  color: #fff;
}

.DownloadApp_couponText .DownloadApp_info {
  font-weight: 600;
  color: #00feff;
}

.DownloadApp_content {
  display: flex;
}

.DownloadApp_qrWrapper {
  margin-right: .8rem;
  padding: .25rem;
  border-radius: 4px;
  background-color: #fff;
  height: 128px;
  width: 129px;
  box-sizing: border-box;
}

.DownloadApp_storeList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Home_poizon {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden; 
}

.Home_imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.Home_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    filter: brightness(50%); 
}

.Home_text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 0 10px; 
}

.Home_text2 {
  color: #00feff;
}

.Home_text3 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
}

.Home_text3 p {
    max-width: 800px; 
    text-align: left; 
    color: #000;
    font-size: 22px;
}

.Support_support {
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.Support_form {
  width: 768px;
  padding: 80px 60px 100px;
}

.Support_text1 {
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}

.Support_data {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 35px;
  margin-top: 55px;
}

.Support_input {
  background-color: transparent;
  height: 40px;
  border: none;
  border-bottom: 1px solid #000;
  padding-left: 20px;
  font-size: 24px;
}

.Support_input::placeholder {
  font-size: 24px;
  color: gray;
}

.Support_input:focus::placeholder {
  color: darkslategray;
}

.Support_input:focus {
  outline: none;
}

.Support_name {
  width: 100%;
}

.Support_mail {
  width: 290px;
}

.Support_phone {
  width: 290px;
}

.Support_area {
  margin-top: 65px;
  border: 1px solid #fff;
  border-radius: 13px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
}

.Support_message {
  font-size: 24px;
  color: gray;
}

textarea {
  margin-top: 20px;
  background: transparent;
  border: none;
  font-size: 24px;
}

textarea:focus::placeholder {
  color: darkslategray;
}

textarea:focus {
  outline: none;
}

.Support_send {
  text-align: center;
}

.Support_sendBtn {
  font-size: 20px;
  font-weight: bold;
  width: 120px;
  height: 40px;
  border-radius: 15px;
  border: 2px solid #00feff;
  background-color: #00dbdb;
  color: #000;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.Support_sendBtn:hover {
  transform: scale(1.1);
}

.Support_sendBtn:active {
  transform: scale(1);
}

.catalog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 1;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 186px;
  height: 265px;
  box-sizing: border-box;
}

.product-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  align-self: center;
}

.product-item h3 {
  font-size: 14px;
  font-weight: normal;
  margin: 5px 0;
  text-align: left;
  width: 100%;
}

.product-item p {
  font-size: 14px;
  color: #555;
  text-align: left;
  width: 100%;
}

.product-price {
  font-weight: bold;
  margin-top: auto;
}

.catalog_name {
  font-size: 26px;
  margin-bottom: 0;
}

.catalog_found {
  font-size: 20px;
}

.filter-container {
  font-size: 24px;
  font-weight: bold;
}

.select1 {
  font-size: 18px;
  border: transparent;
}

.Products_section {
  text-align: center;
  margin: 40px 0;
}

.Products_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.Product_item {
  width: calc(20% - 20px); 
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 310px;
  
}

.Product_image {
  max-width: 100%;
  height: auto;
}

.Product_item h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 5px 0;
  text-align: left;
  width: 100%;
}

.Product_item p {
  font-size: 18px;
  color: #555;
  text-align: left;
  width: 100%;
  font-weight: bold;
  margin-top: auto;
}

.favourite-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  margin-left: 130px;
}

.product-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.product-image2 {
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
  margin-right: 20px;
}

.product-details2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-price2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
}

.favourite-button2 {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 35px;
  position: absolute;
  margin-left: 320px;
  margin-top: 125px;
}

.cart-button2 {
  font-size: 20px;
  font-weight: bold;
  width: 300px;
  height: 40px;
  border-radius: 15px;
  border: 2px solid #00feff;
  background-color: #00dbdb;
  color: #000;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.cart-button2:hover {
  transform: scale(1.1);
}

.cart-button2:active {
  transform: scale(1);
}

.item-details {
  width: 650px;
}

.basket_name {
  text-align: center;
  font-size: 24px;
}

.orderBtn {
  font-size: 20px;
  font-weight: bold;
  width: 300px;
  height: 40px;
  border-radius: 15px;
  border: 2px solid #00feff;
  background-color: #00dbdb;
  color: #000;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.orderBtn:hover {
  transform: scale(1.1);
}

.orderBtn:active {
  transform: scale(1);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center; 
}

.modal-content h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left; 
}

.form-group input,
.form-group select {
  width: 100%; 
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
}

.modal-content form button {
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #00dbdb;
  color: #000;
  border-radius: 15px;
  border: 2px solid #00feff;
  width: 350px; 
  transition: transform 0.5s ease;
}

.modal-content form button:hover {
  transform: scale(1.1);
}

.modal-content form button:active {
  transform: scale(1);
}

.modal-content button {
  font-weight: bold;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #00dbdb;
  color: #000;
  border-radius: 15px;
  border: 2px solid #00feff;
  width: 350px; 
  transition: transform 0.5s ease;
}

.modal-content button:hover {
  transform: scale(1.1);
}

.modal-content button:active {
  transform: scale(1);
}